*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.left-side-bar{
    display: list-item;
    background: linear-gradient(180deg , #12221f,#203D37);
    height: 100vh;
    color: rgb(224, 224, 224);
    padding-left: 0;
    padding-right: 0;

}
.left-side-bar h2{
    text-align: center;
    margin-top: 6%;
    padding-bottom: 1%;
    border-bottom: 2px solid rgb(223, 223, 223);
}
.left-side-bar h5{
    text-align: center;
    margin-top: 6%;
    padding: 10px;
    height:45px;
    width: 100%;
    cursor: pointer;
    
}
.add-section-sizing{
    margin-top: 15%;
   
}
.left-side-bar h5:hover{
   background: #2D524A;
   color: whitesmoke;
}

.filed {
    background: #f3fffe;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
}
.filed h3{
    text-align: center;
}

input[type="file"]{
    display: none;
}

.weight-UPimg label{
        color: #71BA58;
        height: 39px;
        width: 163px;
        padding: 2px;
        border: 2px solid #71BA58;
        background-color: #dcffeced;
        font-size: 21px;
        display: flex;
        border-radius: 5px;
        cursor: pointer;
}
.name-price input{
    margin: 3%;
}
.name-price h6{
    margin: 3%;
}
.weight-UPimg input{
    margin: 3%;
}
.weight-UPimg h6{
    margin: 3%;
}
.weight-UPimg label{
    margin: 3%;
}
.home-path{
   padding: 0%;
   color: rgb(226, 226, 226);
}

.input-filed {
    width: 95%;
    height: 40%;
    padding: 50px;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
}
.input-filed form input[type="submit"] {
    outline: none;
    border: 1px solid rgb(184 184 184);
    border-radius: 5px;
    position: absolute;
    height: 40px;
    width: 144px;
    padding: 0px;
    color:rgb(241, 241, 241);
    font-weight: 500;
    background: #0ad61e;
    margin: auto;
    top: 0;
    bottom: 19%;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgb(155, 155, 155);

    
}

.input-filed form input[type="submit"]:hover{
    background: #1bce2c;
    box-shadow: 0 0 10px rgb(155, 155, 155);
    
}
.admin-section{
    width: 100%;
}
@media(max-width: 770px){
    .left-side-bar h5 {
        text-align: center;
        font-size: 99%;
        margin-top: 6%;
        padding: 10px;
        height: 45px;
        width: 100%;
        cursor: pointer;
    }
}
@media(max-width: 660px){
    .left-side-bar h2 {
        font-size: 22px;
        text-align: center;
        margin-top: 6%;
        padding-bottom: 1%;
        border-bottom: 2px solid rgb(223, 223, 223);
    }
    .left-side-bar h5 {
        text-align: center;
        font-size: 83%;
        margin-top: 6%;
        padding: 5px;
        height: 45px;
        width: 100%;
        cursor: pointer;
    }
}
@media(max-width: 520px){
    .name-price h6 {
        margin: 0%;
        font-size: 100%;
    }
    .weight-UPimg h6 {
        margin: 0%;
        font-size: 100%;
    }
    .name-price input {
        margin: 2%;
    
    }
    .input-filed {
        width: 95%;
        height: 30%;
        padding: 20px;
        background-color: rgb(236, 236, 236);
        border-radius: 15px;
    }
    .weight-UPimg label {
        color: #71BA58;
        height: 39px;
        width: 146px;
        padding: 5px;
        border: 2px solid #71BA58;
        background-color: #dcffeced;
        font-size: 18px;
        display: flex;
        border-radius: 5px;
        cursor: pointer;
    }
    .weight-UPimg label {
        margin: 0%;
    }
    .input-filed form input[type="submit"] {
        outline: none;
        border: 1px solid rgb(184 184 184);
        border-radius: 5px;
        position: absolute;
        height: 40px;
        width: 144px;
        padding: 0px;
        color: rgb(241, 241, 241);
        font-weight: 500;
        background: #0ad61e;
        margin: auto;
        top: 0;
        bottom: 37%;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px rgb(155, 155, 155);
    }

}