
#cardBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.input-group{
    width: 50%;
}
@media screen and (max-width: 1000px ){
    #cardBox{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        
    }
}
@media screen and (max-width: 620px ){
    #cardBox{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        
    }
    .input-group{
        width: 80%;
    }
}
